.home__container{
    padding: 0;
}

.fortunaeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.contentWrapper {
    text-align: left;
    margin-bottom: 30px;
}

.fortunaeTitle {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.fortunaeDescription {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0;
}

.imageWrapper {
    overflow: hidden;
    margin-bottom: 30px;
}

.fortunaeImage {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.buttonWrapper {
    text-align: center;
    width: 100%;
}


@media (max-width: 768px) {
    .fortunaeContainer {
        padding: 20px;
    }


    .contentWrapper {
        margin-bottom: 20px;
    }

    .fortunaeTitle {
        font-size: 2em;
    }

    .fortunaeDescription {
        font-size: 0.9em;
    }

    .imageWrapper {
        margin-bottom: 20px;
    }
    .fortunaeImage {
        width: 100%;
        height: 500px;
        object-position: left;
        border-radius: 41px;
    }
}